<header>
    <div class="container">
        <a class="logo" asp-controller="Home" asp-action="Index"><img src="~/images/solid.svg" alt="Silicon logotype"></a>

        <div class="menu">
            <nav>
                @if(ViewBag.ShowChoices)
                {
                    <a class="menu-link" href="#showcase">Overview</a>
                    <a class="menu-link" href="#features">Features</a>   
                }
                <a class="menu-link" href="#contact.html">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="menuBarsContainer">
            <i id="hamburger" class="fa-solid fa-bars"></i>
            <div id="menu-mobil" class="mobil-menu">
                <ul>
                    <li><a class="menu-link" href="#showcase">Overview</a><</li>
                    <li><a class="menu-link" href="#features">Features</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contact </a></li>
                    <li><a asp-controller="Account" asp-action="SignIn">Sign in</a></li>
                    <li><a asp-controller="Account" asp-action="SignUp">Sign Up</a></li>
                </ul>
            </div>
        </div>

        <div class="account-buttons">
            <a class="btn-gray" href="#"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
            <a class="btn-theme" href="#"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
        </div>
    </div>
</header>
