@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
}

    <section id="sign-in">
        <div class="container">
            <form class="sign-in-form" method="post" asp-action="SignIn" asp-controller="Account" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>
            <span>@ViewData["ErrorMessage"]</span>
            <div class="headlines">
                <h1>Welcome Back</h1>
                <p>Don’t have an account yet? <a asp-controller="Account" asp-action="SignUp">Sign up here.</a></p>
            </div>
                <div id="form-email">
                    <label asp-for="Form.Email"><b>Email</b></label>
                    <span asp-validation-for="Form.Email"></span>
                    <div class="input-theme">
                    <input asp-for=Form.Email /></div>
                </div>
                <div>
                    <label asp-for="Form.Password"><b>Password</b></label>
                    <span asp-validation-for="Form.Password"></span>
                    <div class="input-theme"><input asp-for="Form.Password" /></div>
                </div>
                <div class="form-check">
                    <input asp-for="Form.RememberMe" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    <label asp-for="Form.RememberMe" class="form-check-label" for="flexCheckDefault">
                        Remember me
                </label>
                </div>
                <button class="btn-theme-s" type="submit">Sign in</button>
                <a class="center" asp-controller="Account" asp-action="Forgot">Forgot your password?</a>

                <hr />

                <div class="loginSocialContainer">
                    <b>Or sign in with your social network</b>
                    <div class="btn-container">
                        <button class="btn-gray"><i class="fa-brands fa-google"></i>Google</button>
                        <button class="btn-gray"><i class="fa-brands fa-facebook-f"></i>Facebook</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

@await Html.PartialAsync("_ValidationScriptPartial")